body {
  margin: auto;
  width: fit-content;
}


img {
  border-radius: 25px;
  width: 100%;
  height: 50%;
}

main {
  background-color: beige;
}

main h2 {
  padding-top: 30px;
  font-size: 34px;
  font-family: 'Nanum Pen Script', 'Trebuchet MS';
  font-weight: 400;
  margin: 0;
  text-align: center;
}

main p {
  font-family: 'Valera Round';
  line-height: 1.5em;
  margin-bottom: 0em;
 }

 header {
  background-color: #6b655b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 20px;
}

header h1 {
  color: #eff0e5;
  margin: 0;
  padding: 27px 0;
  font-family: 'Nanum Pen Script', 'Trebuchet MS';
  font-size: 43px;
  text-align: center;
}

header h4 {
  display: flex;
  color: #eff0e5;
  font-size: 28px;
  font-family: 'Nanum Pen Script', 'Trebuchet MS';
  justify-content: center;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li a {
  color: #eff0e5ab;
  font-family: 'Nanum Pen Script';
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px 0 0;
}

.group-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item-intro1 {
  flex: 1;
  padding: 20px;
}

.item-intro2 {
  flex: 2;
  padding: 20px;
}

.group-about {
  text-align: center;
}

.item-about3 ul {
  display: flex;
  justify-content: center;
}

.item-about3 ul li {
  padding-right: 30px;
}

.group-portfolio {
  text-align: center;
}

.item-links1 h4 {
  font-size: 26px;
  font-family: 'Nanum Pen Script', 'Trebuchet MS';
  font-weight: 400;
  text-align: center;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: gray;
  font-family: arial;
}

form input[type=text] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form input[type=email] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

.group-links {
  display: flex;
  flex-direction: column;
}

.item-links1 h2 {
  margin-bottom: 20px;
}

.item-links1 {
  flex: 3;
}

.item-links2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.item-links2 a {
  flex: 1;
  flex-direction: row;
  text-decoration: none;
  padding-right: 20px;
}

footer {
  background-color: #6b655b;
  padding-bottom: 10px;
  padding-bottom: 10px;
}

footer p {
  margin: 0;
}
.group-footer {
  text-align: center;
}

@media all and (min-width: 700px) {
  header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  header h1 {
    text-align: center;
    padding: 0;
  }

  .group-header {
    width: 100%;
  }

  .sub-header {
    display: flex;
    flex-direction: row;
    width: inherit;
  }

  .group-title {
    justify-content: left;
    padding-top: 9px;
    width: 100%;
  }

  .item-title {
    flex: 1;
    padding: 0;
  }

  .item-nav {
    justify-content: right;
  }

  .group-intro {
    display: flex;
    flex-direction: row;
  }

  .item-intro1 {
    flex: 1;
  }

  .item-intro2 {
    flex: 1;
    padding-top: 6%;
  }

  .item-intro2 h2 {
    padding-bottom: 5%;
  }

  .item-about1 {
    padding: 0 25%;
  }

  .item-about2 {
    padding: 0 25%;
  }

  img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
  }
}